<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= projectName %></title>
    <link rel="stylesheet" href="http://localhost:<%= port %>/static/css/styles.css">
  </head>
  <body>
    <div class="bgimg">
      <div class="middle">
        <h1><%= projectName %></h1>
        <hr>
        <p>Welcome to your new Express/EJS project, and thank you for using <a href="https://slapman.xyz/">Slapman</a>.</p>
      </div>
    </div>
  </body>
</html>